// ---------------------------------------------------------------------------
// Variables
// ---------------------------------------------------------------------------

$white: #ffffff;
$yellow: #FF0;
$lightGrey: #d3d3d3;
$lightBlue: #e7faff;

// ---------------------------------------------------------------------------
// Base Styles
// ---------------------------------------------------------------------------

body {
  background-color: $white;
}
