body {
  background-color: white;
}

.wrapper-container > * {
  @include rem-fallback(padding, 0, $large-rem);
}

.wrapper-container > *:first-child {
  @include rem-fallback(padding-top, $huge-rem);
}

header h1 {
  font-family: 'Geomancy - Extra Bold';
  text-align: center;
  @include rem-fallback(font-size, $largest-rem);
  @include rem-fallback(margin-bottom, 0);
}

header, .about-me {
  background-color: yellow;
}
.about-me {
  text-align: center;
  @include rem-fallback(margin-bottom, $huge-rem);
  @include rem-fallback(padding, $base-margin-rem);
}

.articles-list article {
  @include rem-fallback(margin-bottom, $base-margin-rem);
  @include rem-fallback(padding-bottom, $base-margin-rem);
  border-bottom: 1px black solid;

  h1 {
    @include rem-fallback(margin-bottom, $norm-rem);
  }

  time {
    display: inline-block;
    @include rem-fallback(margin-bottom, $tiniest-rem/2);
  }
}

