body {
  background-color: white;
  margin: $mainMargin;
}

header {
  margin-bottom: $altMargin;
}

header h1 {
  font-family: 'Geomancy - Extra Bold';
  text-align: center;
}

.about-me {
  text-align: center;
  margin-bottom: $altMargin;
}

