.buckaroo-header, .about-me {
  background: $lightRed;
}

.about-me {
  color: antiqueWhite;
  padding-top: 0;
}

.buckaroo-header {
  h1 {
    font-family: 'Geomancy - Extra Bold';
    text-align: center;
    @include rem-fallback(font-size, $largest-rem);
    @include margin-bottom-rem-fallback(0, $largest-rem, $norm-unitless);
  }
}

.about-me {
  text-align: center;
}

.articles-feed {
  list-style: none;

  li {
    border-bottom: 1px $brownBlack solid;
    @include rem-fallback(margin-bottom, $base-margin-rem);
    @include rem-fallback(padding-bottom, $base-margin-rem);

    h1 {
      @include margin-bottom-rem-fallback($large-rem, $norm-unitless, $norm-rem);
    }

    time {
      display: inline-block;
      @include rem-fallback(margin-bottom, $micro-rem);
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
}

.article-snippet {
  text-indent: 0;
  @include rem-fallback(padding-bottom, $micro-rem);
}
