body {
  background-color: white;
  font-family: sans-serif; }

.wireframe header, .wireframe aside, .wireframe main {
  background-color: whitesmoke;
  border: 1px solid gainsboro;
  font: small sans-serif;
  text-align: center;
  color: silver;
  margin-bottom: 1em; }
.wireframe h1 {
  font-weight: 100; }
.wireframe header {
  height: 5em; }
.wireframe aside {
  height: 15em; }
.wireframe main {
  height: 50em; }
