@charset "ASCII-8BIT";
/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
RESET
MAIN
IMAGES
TABLES
*/
/*------------------------------------*\
    $RESET
\*------------------------------------*/
/*
A more considered reset; more of a restart... As per: csswizardry.com/2011/10/reset-restarted
*/
/* line 33, ../sass/_normalize.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

/* line 38, ../sass/_normalize.scss */
article, aside, details, figcaption, figure, footer,
header, hgroup, main, menu, nav, section {
  display: block;
}

/* line 41, ../sass/_normalize.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* line 44, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 48, ../sass/_normalize.scss */
strong, b, mark {
  font-weight: bold;
  font-style: inherit;
}

/* line 52, ../sass/_normalize.scss */
em, i, cite, address, dfn, var {
  font-style: italic;
  font-weight: inherit;
}

/* line 56, ../sass/_normalize.scss */
abbr[title], dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}

/* line 60, ../sass/_normalize.scss */
ins {
  border-bottom: 1px solid;
}

/* line 63, ../sass/_normalize.scss */
a, u, ins {
  text-decoration: none;
}

/* line 66, ../sass/_normalize.scss */
del, s {
  text-decoration: line-through;
}

/* line 69, ../sass/_normalize.scss */
pre, code, samp, kbd {
  font-family: monospace;
}

/* line 72, ../sass/_normalize.scss */
small {
  font-size: 0.75em;
}

/* line 75, ../sass/_normalize.scss */
img {
  border: none;
  font-style: italic;
}

/* line 81, ../sass/_normalize.scss */
input,
select, option, optgroup,
textarea {
  font: inherit;
}

/*
Form items have always missed cursor interactions...
*/
/* line 93, ../sass/_normalize.scss */
label,
input,
textarea,
button,
select,
option {
  cursor: pointer;
}

/* line 99, ../sass/_normalize.scss */
.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus {
  cursor: text;
}

/*------------------------------------*\
    $MAIN
\*------------------------------------*/
/* line 110, ../sass/_normalize.scss */
html {
  overflow-y: scroll;
  line-height: 1.5;
  /* A safe and comfortable default for body copy at any size. */
}

/*--- LINKS ---*/
/* line 123, ../sass/_normalize.scss */
a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

/* Basic styling for any 'current' links. */
/* line 128, ../sass/_normalize.scss */
.current a {
  cursor: text;
  text-decoration: underline;
}

/*--- LISTS ---*/
/* line 135, ../sass/_normalize.scss */
li > ul,
li > ol {
  margin-bottom: 0;
}

/*--- QUOTES ---*/
/*
Big up @boblet: html5doctor.com/blockquote-q-cite
*/
/* line 143, ../sass/_normalize.scss */
q {
  quotes: "“" "”" "‘" "’";
}

/* line 145, ../sass/_normalize.scss */
q:before {
  content: "“";
  content: open-quote;
}

/* line 146, ../sass/_normalize.scss */
q:after {
  content: "”";
  content: close-quote;
}

/* line 148, ../sass/_normalize.scss */
q q:before {
  content: "‘";
  content: open-quote;
}

/* line 149, ../sass/_normalize.scss */
q q:after {
  content: "’";
  content: close-quote;
}

/* line 151, ../sass/_normalize.scss */
blockquote {
  quotes: "“" "”";
}

/* line 152, ../sass/_normalize.scss */
blockquote p:before {
  content: "“";
  content: open-quote;
}

/* line 153, ../sass/_normalize.scss */
blockquote p:after {
  content: "";
  content: no-close-quote;
}

/* line 154, ../sass/_normalize.scss */
blockquote p:last-of-type:after {
  content: "”";
  content: close-quote;
}

/* line 156, ../sass/_normalize.scss */
blockquote {
  text-indent: -0.4em;
}

/* line 159, ../sass/_normalize.scss */
.source {
  display: block;
  text-indent: 0;
  margin-top: -Xpx;
  margin-top: -Xrem;
}

/* line 165, ../sass/_normalize.scss */
.source:before {
  content: "—";
}

/*------------------------------------*\
    $IMAGES
\*------------------------------------*/
/* line 176, ../sass/_normalize.scss */
img {
  max-width: 100%;
  height: auto;
}

/*------------------------------------*\
    $TABLES
\*------------------------------------*/
/* line 188, ../sass/_normalize.scss */
table {
  width: 100%;
}

/* $tiniest-rem:  0.44444rem  */
/* $tiny-rem:     0.512rem     */
/* $smallest-rem: 0.66667rem */
/* $smaller-rem:  0.8rem  */
/* $small-rem:    1rem    */
/* $norm-rem:     1.25rem     */
/* $large-rem:    1.5rem    */
/* $larger-rem:   1.95313rem   */
/* $largest-rem:  2.25rem  */
/* $huge-rem:     2.44141rem     */
/* $huge-rem:     2.44141rem     */
/* $tiniest-unitless:  0.44444  */
/* $tiny-unitless:     0.512     */
/* $smallest-unitless: 0.66667 */
/* $smaller-unitless:  0.8  */
/* $small-unitless:    1    */
/* $norm-unitless:     1.25     */
/* $large-unitless:    1.5    */
/* $larger-unitless:   1.95313   */
/* $largest-unitless:  2.25  */
/* $huge-unitless:     2.44141     */
/* $epic-unitless:     2.44141     */
/* line 91, ../sass/_typography.scss */
body {
  font-family: 'Source Sans Pro - Light', sans-serif;
  font-size: 112.5%;
}

/* line 96, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro - Black', sans-serif;
  line-height: 1.25;
  margin-bottom: 12.8px;
  margin-bottom: 0.8rem;
}

/* line 102, ../sass/_typography.scss */
h1 {
  font-size: 24px;
  font-size: 1.5rem;
}

/* line 106, ../sass/_typography.scss */
p {
  margin-bottom: 10.66667px;
  margin-bottom: 0.66667rem;
}

@font-face {
  font-family: 'Geomancy - Extra Bold';
  src: url("../../fonts/GeomancyExtraBold.otf");
}

@font-face {
  font-family: 'Source Sans Pro - Light';
  src: url("../../fonts/SourceSansProLight.otf");
}

@font-face {
  font-family: 'Source Sans Pro - Regular';
  src: url("../../fonts/SourceSansProRegular.otf");
}

@font-face {
  font-family: 'Source Sans Pro - Black';
  src: url("../../fonts/SourceSansProBlack.otf");
}

/* line 1, ../sass/_base.scss */
body {
  background-color: white;
}

/* line 5, ../sass/_base.scss */
.wrapper-container > * {
  padding: 0px 24px;
  padding: 0rem 1.5rem;
}

/* line 9, ../sass/_base.scss */
.wrapper-container > *:first-child {
  padding-top: 39.0625px;
  padding-top: 2.44141rem;
}

/* line 13, ../sass/_base.scss */
header h1 {
  font-family: 'Geomancy - Extra Bold';
  text-align: center;
  font-size: 36px;
  font-size: 2.25rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

/* line 20, ../sass/_base.scss */
.about-me {
  text-align: center;
  margin-bottom: 39.0625px;
  margin-bottom: 2.44141rem;
  padding: 24px;
  padding: 1.5rem;
}

/* line 26, ../sass/_base.scss */
.articles-list article {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  border-bottom: 1px black solid;
}
/* line 31, ../sass/_base.scss */
.articles-list article h1 {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}
/* line 35, ../sass/_base.scss */
.articles-list article time {
  display: inline-block;
  margin-bottom: 3.55556px;
  margin-bottom: 0.22222rem;
}

/* line 1, ../sass/_layout.scss */
.articles-list {
  list-style: none;
}
